/* Built-in element Styling */

* {
  box-sizing: border-box;
}

h1 {

}

h2 {

}

header {
  margin-bottom:100px;
}


/* Custom Styling */

.main-nav-bar {
  position:fixed;
  top:0;
  width:100%;
  background-color:#add8e6;
}

/* Needs vertical alignment */
.main-nav-bar img {
  float:left;
  margin-left:50px;
}

.main-nav-bar ul {
  list-style-type: none;
  float:right;  
  margin-right:50px;
}

.main-nav-bar li {
  display:inline;
  padding-left:20px;
}

.main-nav-bar a {
  text-decoration: none;
  color:white;
}

.main-nav-bar a:hover {
  color:black;
}

.body-container {
  max-width:800px;
  margin:0 auto;
}

.form-container {
  display:block;
  margin:0 auto;
  max-width:500px;
  padding:50px;
}

.form-container input {
  display:block;
  margin-bottom:10px;
  padding:5px;
  width:100%;
}
