/* Built-in element Styling */

* {
  box-sizing: border-box;
}

h1 {

}

h2 {

}

header {
  height: 50px;
}

/* Custom Styling */

.main-nav-bar {
  position:fixed;
  top:0;
  width:100%;
  background-color:#add8e6;
}

/* Needs vertical alignment */
.main-nav-bar img {
  float:left;
  margin-left:50px;
}

.main-nav-bar ul {
  list-style-type: none;
  float:right;  
  margin-right:50px;
}

.main-nav-bar li {
  display:inline;
  padding-left:20px;
}

.main-nav-bar a {
  text-decoration: none;
  color:white;
}

.main-nav-bar a:hover {
  color:black;
}

.background-image {
  height: 400px;
  margin: 0;
  background-image: url('../images/chicago_bg.jpg');
  background-size: cover;
}

.body-container {
  max-width:800px;
  margin:0 auto;
}

.form-container {
  display:block;
  margin:0 auto;
  max-width:500px;
  padding:50px;
}

.form-container input {
  display:block;
  margin-bottom:10px;
  padding:5px;
  width:100%;
}

.location-list {
/*  max-width: 800px;
  margin: 0 auto;*/
}

.location {
  display: inline-block;
  /*border: 1px solid black;*/
  padding: 5px;
  background-color: #add8e6;
  border-radius: 10px;
  width: 175px;
}

.location a {
  font-size: large; 
}

.location ul {
  list-style-type: none;
  padding: 0px;
}

.location .button {
  background:none;
  border:none;
  padding:0;  
  font:inherit;
  border-bottom:1px;
  cursor:pointer;
  color:blue;
  text-decoration: underline;
}

.add-location {

}

.add-location form {
  /*display: block;*/
}

.hidden {
  display: none;
}
