<form method="post" action="/locations">
  <input name="new_saved_location[name]" type="text" placeholder="Name">
  <input name="loc[latitude]" type="text" placeholder="Latitude">
  <input name="loc[longitude]" type="text" placeholder="Longitude">

  <input type="submit" value="Save Location!">
</form>