<div class="body-container">
  <div class="form-container">

    <% if @errors %>
      <ul class="errors">
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <h3>Register</h3>

    <form method="post" action="/users">
      <label for="first_name">First Name:</label>
      <input id="first_name" type="text" name="first_name" placeholder="Arya">

      <label for="last_name">Last Name:</label>
      <input id="last_name" type="text" name="last_name" placeholder="Stark">

      <label for="email">E-mail Address:</label>
      <input id="email" type="text" name="email" placeholder="AStark@winterfell.com">

      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="ValarMorghulis">

      <input type="submit" value="Join">
    </form>

  </div>
</div>