<div class="background-image"></div>
  <div class="body-container">

    <!-- <h1>This is our main page!</h1> -->

    <div class="form-container">
      <form method="post" action="/location">
     <!--    <label for="latitude">latitude:</label>
        <input id="latitude" type="text" name="latitude">

        <label for="longitude">longitude</label>
        <input id="longitude" type="text" name="longitude">
     -->

        <label for="address">Street Address</label>
        <input id="address" type="text" name="address">

        <label for="city">City</label>
        <input id="city" type="text" name="city">

        <label for="state">State</label>
        <input id="state" type="text" name="state">

        <input type="submit" value="Check Air Quality!">
      </form>
    </div>
  </div>
