<h1>Air Quality Conditions for "<%= @saved_location.name %>"</h1>
<h3>Location:</h3>
<p>Lat: <%= @saved_location.location.latitude %></p>
<p>Long: <%= @saved_location.location.longitude %></p>



<!--  Display API data   -->