<h1>Air Quality Conditions for "<%= @saved_location.name %>"</h1>
<h3>Location:</h3>
<p>Lat: <%= @saved_location.location.latitude %></p>
<p>Long: <%= @saved_location.location.longitude %></p>



<!--  Display API data   -->

<!-- https://api.breezometer.com/baqi/?lat=40.7324296&lon=-73.9977264

https://api.breezometer.com/baqi/?lat=40.7324296&lon=73.9977264&key=56f593e1971d4690b3b16b3523f9c7b4

<<<<<<< HEAD
56f593e1971d4690b3b16b3523f9c7b4 -->
=======
56f593e1971d4690b3b16b3523f9c7b4 -->
>>>>>>> master
